{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css','vendor') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome/css/font-awesome.min.css','vendor') }}">
{% endblock %}


{% block header %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="{{path("homepage")}}">
      <img src="{{asset('favicon-32x32.png')}}">
      <span class="d-none d-md-inline">Διαχείρηση Μελών</span> ΕΛΛΑΚ Κύπρου
    </a>
   {% block navContent %}
   {% endblock navContent %}
  </nav>
</header>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% block main %}
    {% endblock %}
  </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery.min.js','vendor') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js','vendor') }}"></script>

{% endblock %}

{% block footer %}
{% endblock %}
