{% extends "@FOSUserBundle/layout.html.twig" %}
{% block title %} Register {% endblock title %}

{% block fos_user_content %}

  {% trans_default_domain 'FOSUserBundle' %}

  <div class="row clearfix"><div class="col"><h1 style="text-align:center">{{ 'register.title'|trans }}</h1></div></div>
  <div class="row clearfix">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register col'}}) }}
      {% include "@FOSUser/Registration/register_content.html.twig" %}
      <div class="form-row">
        <div class="form-group col">
          <div class="form-check">
            {{ form_widget(form.accept_terms, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.accept_terms, null, {'label_attr':{'class':'form-check-label'}}) }}
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
        </div>
      </div>

    {{ form_end(form) }}
  </row>

{% endblock fos_user_content %}
