<!DOCTYPE html>
{% trans_default_domain 'register' %}
{% set logo_img=asset('ellakcy-full.png') %}
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{ "register.title.memberapplication"|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css','vendor') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('registerApplication.css','css') }}">
  </head>
  <body>
    <div id="printArea" class="container-fluid">
      <div class="row mt-5">
        <div class="col-12 banner-wrap">
           <img class="banner img-fluid img-thumbnail" src="{{ logo_img }}" />
        </div>
          <div class="col-12 mt-2 mb-3">
          <h1>{{ "register.title.memberapplication"|trans }}</h1>
        </div>
      </div>
      <div class="row printRow">
          <table id="memberInfo" class="col-12" border="1">
            <!-- I use table with multiple columns in order to have the data sorted for the print media as well -->
            <colgroup>
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
            </colgroup>

            <thead>
              <th colspan="20"><h2 class="text-center">Member Personal Information</h2></th>
            </thead>
            <tbody>
              <tr><!-- Name & surname -->
                <th colspan="2" >{{ 'register.name'|trans }}:</th>
                <td colspan="8" class="applicationData"><span class="registrationInfo" data-fill="name">{{name|default('')}}</span></td>
                <th colspan="2">{{ 'register.surname'|trans }}:</th>
                <td colspan="8" class="applicationData" ><span class="registrationInfo" data-fill="surname">{{surname|default('')}}</span></td>
              </tr>
              <tr><!-- email -->
                <th colspan="3">{{ 'register.email'|trans }}:</th>
                <td colspan="17" class="applicationData" colspan="3"><span class="registrationInfo" data-fill="email">{{email|default('')}}</span></td>
              </tr>
            </tbody>
          </table>
        </div><!-- row -->

      <div id="signatureArea" class="row printRow">

        <div class="col-6 col-sm-3 col-md-3 col-lg-3 order-1  signature">
          <h4>{{ 'register.boardSignature'|trans }}:</h4>
          <div></div>
        </div>

        <div id="scanQrContainer" class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3 mt-md-0 mt-lg-0 order-sm-2 order-12 order-md-2 order-lg-2">
          <div id="scanQr">{% block qrcodeHtml %}{% endblock %}</div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 float-right order-sm-3 order-md-3 order-lg-3 order-2 signature">
          <h4>{{ 'register.memberSignature'|trans }}:</h4>
          <div data-fill="signature">{% block signatureImage %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
