<!DOCTYPE html>
{% trans_default_domain 'register' %}
{% set first_name = '' %}
{% set surname='' %}
{% set email='' %}
{% set idNum='' %}
{% set idCountry='register.cypriot'| trans %}
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{ "register.title.memberapplication"|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./registerApplication.css">
  </head>
  <body>
    <div id="printArea" class="container-fluid">
      <div class="row mt-5">
        <div class="col-12 banner-wrap">
          <img class="banner img-fluid img-thumbnail" src="{{ asset('ellakcy-full.png') }}" />
        </div>
          <div class="col-12 mt-2 mb-3">
          <h1>{{ "register.title.memberapplication"|trans }}</h1>
        </div>
      </div>
      <div class="row printRow">
          <table id="#memberInfo" class="col-12" border="1">
            <thead>
              <th colspan="4"><h2 class="text-center">Member Personal Information</h2></th>
            </thead>
            <tbody>
              <tr>
                <th>{{ 'register.name'|trans }}:</th>
                <td class="applicationData"><span data-fill="name">{{name}}</span></td>
                <th>{{ 'register.surname'|trans }}:</th>
                <td class="applicationData"><span data-fill="surname">{{surname}}</span></span></td>
              </tr>
              <tr>
                <th>{{ 'register.email'|trans }}</th>
                <td class="applicationData"><span data-fill="email">{{email}}</span></td>
              </tr>
              <tr>
                <th>{{ 'register.nationalid'|trans }}:</th>
                <td class="applicationData"><span data-fill="id_number">{{idNum}}</span></td>
                <th>{{ 'register.issuingCountry'|trans }}:</th>
                <td class="applicationData"><span data-fill="idType">{{ idCountry }}</span></td>
              </tr>
            </tbody>
          </table>
        </div><!-- row -->

      <div id="signatureArea" class="row printRow">

        <div class="col-6 col-sm-3 col-md-3 col-lg-3 order-1  signature">
          <h4>{{ 'register.boardSignature'|trans }}:</h4>
          <div></div>
        </div>

        <div id="scanQrContainer" class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3 mt-md-0 mt-lg-0 order-sm-2 order-12 order-md-2 order-lg-2">
          <div id="scanQr"></div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 float-right order-sm-3 order-md-3 order-lg-3 order-2 signature">
          <h4>{{ 'register.memberSignature'|trans }}:</h4>
          <div data-fill="signature"></div>
        </div>
      </div>
    </div>
  </body>
</html>
