{% extends "::layout_sidebar.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block sidebar %}
	<ul class="sidebar-menu">
		<li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> <span>{{ "layout.myprofile.pagetitle"|trans }}</span></a></li>
		<li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user-plus"></i> <span>{{ "layout.profile_edit.pagetitle"|trans }}</span></a></li>
		<li><a href="{{ path('fos_user_change_password') }}"><i class="glyphicon glyphicon-lock"></i> <span>{{ "layout.security.changePassowrdTitle"|trans }}</span></a></li>
	</ul>
{% endblock %}

{% block pageContent %}
	{% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}