{% extends "default/layout_homepage.html.twig" %}

{% trans_default_domain 'register' %}

{% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" type="text/css" href="{{ asset('registration.css','css') }}">
{% endblock %}

{% block title %}
{{'register.title'|trans}}
{% endblock %}

{% block main %}
  <h1 class="text-center">{{'register.title'|trans}}</h1>

  <!-- 1rst step -->
  <div class="row" data-comment="step-1">

    <div class="col ml-3 mr-2 p-2 shade border float-left">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{ 'register.step1.title'|trans }}</h2>
      </div>
    </div>

    <div class="row">

     <form id="registrationForm"  class="col m-1">
      <div class="row">
        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.name'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control" data-qr="true" type="text" data-on-reset="no-val" name="name" placeholder="" required>
        </div>

        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.surname'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control"  data-qr="true" data-on-reset="no-val" type="text" name="surname" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
              <label for="inputName">{{ 'register.email'|trans }} <i class="fas fa-database"></i> *</label>
              <input id="registrationEmail" class="form-control" data-qr="true" data-on-reset="no-val" type="email" name="email" required>
        </div>
      </div>

     <div id="signatureContainer" class="row">
       <input id="selectSignature" type="file" data-on-reset="no-val" style="display:none" name="signature" />
       <div class="droparea"><label id="replaceWithImage" for="selectSignature"><span>{{ 'register.selectSignature'|trans|raw }}</span></label></div>
     </div>

     <div class="row mt-3">
       <div class="col">
        <button type="button" onClick="nextStep(this)" data-scroll-to="contactEmailSubmit" class="btn btn-block btn-primary"> {{ 'register.next_step'|trans }} </button>
      </div>
     </div>
   </form>
   </div>
 </div>

   <div class="col mr-3 ml-3 border shade float-right">
     <hr class="d-md-none d-lg-none d-block">
     <h2 class="col-12 text-sm">{{ 'register.notice'|trans }}:</h2>
     <ul class="col-12" style="list-style:none">
       <li class="mb-1">* {{ 'register.mandatory'|trans }}</li>
       <li class="mb-1"><i class="fas fa-database"></i> {{ 'register.storedindb'|trans }} </li>
       <li>** {{ 'register.reasonwhyneedidnum'|trans|raw }}
     </ul>
   </div>
 </div>

 <!-- 2nd Step -->
 <div id="contactEmailSubmit" data-step="2" style="display:none" class="row border shade ml-1 mr-1 mt-4 mb-4">
     <div class="col-12">
       <div class="col-12">
         <h2 class="text-center">{{ 'register.step2.title'|trans }}</h2>
       </div>
       <p class="col-12 mp-3">
         {{ 'register.step2.explanation'|trans }}
       </p>
       <hr>
     </div>

     <form id="contactForm" class="col-12" data-scroll-to="displayRegistationPaperApplicationWrapper" action="{{ path('registration_email_contact') }}" method="post">
       <input type="hidden" name="csrf" value="{{ csrf_token('insert-email') }}"/>

         <div class="col-12 mb-3">
           <div class="col-12">
             <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-secondary" data-autofill-to="autofill_email" data-autofill-from="registrationEmail" id="emailAutofill">{{ 'register.step2.email.autofill'|trans }}</button>
                </div>
                <input id="autofill_email" type="email"  name="autofill_email" class="form-control" placeholder="{{ 'register.step2.email'|trans }}" required/>
              </div>
           </div>
         </div>
        <div class="col-12">
           <div class="col-2 float-left border">
             <img id="capthaImage" class="img-fluid" data-captha-renew="registration_step2" src="{{ image }}">
           </div>
           <div class="col-10 float-right">
             <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-secondary" id="reset-captcha">{{ 'register.captha.new-image'|trans }}</button>
                </div>
                <input type="text" name="captcha" class="form-control" placeholder="{{ 'register.captcha'|trans }}" required/>
              </div>
           </div>
         </div>
         <div class="col-12 mt-5 mb-2">
           <div class="col-12 col-sm-12 col-md-5 col-lg-5 ml-auto">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button id="rejectEmail" data-scroll-to="displayRegistationPaperApplicationWrapper" type="button" class="btn btn-link text-danger">{{ 'register.step2.no'|trans }}</button>
              <button type="submit" class="btn btn-success">{{ 'register.step2.yes'|trans }}</button>
            </div>
          </div>
         </div>
    </form>
 </div>

 <!-- last step -->
 <div id="displayRegistationPaperApplicationWrapper" data-step="3" style="display:none" class="row border shade mt-5">
   <div class="col-12">
     <h2 class="text-center">{{ 'register.preview.title'|trans }}</h2>
     <button class="btn btn-primary mb-2 mt-1" onclick="printPaperApplciationForm()"> <i class="fas fa-print"></i></button>
   </div>
   <iframe id="displayRegistationPaperApplication"  name="displayRegistationPaperApplication" class="col-12">
   </iframe>
 </div>

<!-- templates section -->

<!-- template for the printable application for member registration -->
<script id="registationPaperApplication" type="text/x-jsrender">
  {% include('./templates/applicationForm/applicationFormJsRenderTemplate.html.twig') %}
</script>

{% endblock main %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('./qrious/qrious.min.js','vendor') }}"></script>
  <script src="{{ asset('./jsrender/jsrender.min.js','vendor') }}"></script>
  <script src="{{ asset('./animatescroll.min.js','vendor') }}"></script>
  <script src="{{ asset('register.js','js') }}"></script>
{% endblock %}
