{% extends "default/layout_homepage.html.twig" %}

{% trans_default_domain 'register' %}

{% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" type="text/css" href="{{ asset('./flag-icon-css/flag-icon.min.css','vendor') }}">
 <link rel="stylesheet" type="text/css" href="{{ asset('registration.css','css') }}">
{% endblock %}

{% block title %}
{{'register.title'|trans}}
{% endblock %}

{% block main %}
  <div class="d-print-none">
  <h1 class="text-center">{{'register.title'|trans}}</h1>

  <!-- 1rst step -->
  <div class="row" data-comment="step-1">

    <div class="col ml-3 mr-3 p-2 shade border float-left">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{ 'register.fill'|trans }}</h2>
      </div>
    </div>

    <div class="row">

     <form id="registrationForm" class="col m-1">
      <div class="row">
        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.name'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange" data-qr="true" type="text" name="name" placeholder="" required>
        </div>

        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.surname'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange"  data-qr="true" type="text" name="surname" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
              <label for="inputName">{{ 'register.email'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange" data-qr="true" type="email" name="email" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>{{ 'register.nationalid'|trans }} **</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="flagIndicator" class="flag-icon flag-icon-cy"></span></button>
              <div class="dropdown-menu">
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.cypriot'| trans }}')" href="#"><span class="flag-icon flag-icon-cy"></span> {{ 'register.cypriot'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.greek'| trans }}')" href="#"><span class="flag-icon flag-icon-gr"></span> {{ 'register.greek'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.british'| trans }}')" href="#"><span class="flag-icon flag-icon-gb"></span> {{ 'register.british'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.turkish'| trans }}')" href="#"><span class="flag-icon flag-icon-tr"></span> {{ 'register.turkish'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.russian'| trans }}')" href="#"><span class="flag-icon flag-icon-ru"></span> {{ 'register.russian'| trans }}</a>
              </div>
            </div>
            <input type="text" class="form-control valuechange" name="id_number" aria-label="{{ 'register.nationalid'|trans }}" required>
         </div>
       </div>
     </div>

     <div id="signatureContainer" class="row">
       <input id="selectSignature" type="file" style="display:none" name="signature" />
       <div class="droparea"><label id="replaceWithImage" for="selectSignature"><span>{{ 'register.selectSignature'|trans|raw }}</span></label></div>
     </div>

     <div class="row mt-3">
       <div class="col">
        <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-file-pdf"></i> {{ 'register.generate_form'|trans }} </button>
      </div>
     </div>
     <input name="idType" value="{{ 'register.cypriot'| trans }}" type="hidden">
   </form>
   </div>
 </div>

   <div class="col mr-3 ml-3 border shade float-right">
     <hr class="d-md-none d-lg-none d-block">
     <h2 class="col-12 text-sm">{{ 'register.notice'|trans }}:</h2>
     <ul class="col-12" style="list-style:none">
       <li class="mb-1">* {{ 'register.mandatory'|trans }}</li>
       <li class="mb-1"><i class="fas fa-database"></i> {{ 'register.storedindb'|trans }} </li>
       <li>** {{ 'register.reasonwhyneedidnum'|trans|raw }}
     </ul>
   </div>
 </div>

 <!-- last step -->
 <iframe id="#displayDocument" class="row">
 </iframe>
</div>

<!-- templates section -->

<!-- template for the printable application for member registration -->
<script id="registationPaperApplication" type="text/x-jsrender">
  {% set first_name='\{\{name\}\}' %}
  {% set surname='\{\{surname\}\}' %}
  {% set email='\{\{email\}\}' %}
  {% set idNum='\{\{id_number\}\}' %}
  {% set signatureImage='\{\{signature\}\}' %}
  {% set idCountry='\{\{idType\}\}' %}
  {% include('./templates/applicationForm/applicationForm.html.twig') %}
</script>

{% endblock main %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('kjua.min.js','vendor') }}"></script>
  <script src="{{ asset('/jsrender/jsrender.min.js','vendor') }}"></script>
  <script src="{{ asset('register.js','js') }}"></script>
{% endblock %}
