{% extends "default/layout_homepage.html.twig" %}

{% trans_default_domain 'register' %}

{% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" type="text/css" href="{{ asset('./flag-icon-css/flag-icon.min.css','vendor') }}">
 <link rel="stylesheet" type="text/css" href="{{ asset('registration.css','css') }}">
{% endblock %}

{% block title %}
{{'register.title'|trans}}
{% endblock %}

{% block main %}
  <div class="d-print-none">
  <h1 class="text-center">{{'register.title'|trans}}</h1>
  <div class="row">
    <div class="col ml-3 mr-3 p-2 shade border float-left">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{ 'register.fill'|trans }}</h2>
      </div>
    </div>

    <div class="row">

     <form id="registrationForm" class="col m-1">
      <div class="row">
        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.name'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange" type="text" name="name" placeholder="" required>
        </div>

        <div class="form-group col-12 col-md-12 col-lg-6">
              <label for="inputName">{{ 'register.surname'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange" type="text" name="surname" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
              <label for="inputName">{{ 'register.email'|trans }} <i class="fas fa-database"></i> *</label>
              <input class="form-control valuechange" type="email" name="email" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>{{ 'register.nationalid'|trans }} **</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="flagIndicator" class="flag-icon flag-icon-cy"></span></button>
              <div class="dropdown-menu">
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.cypriot'| trans }}')" href="#"><span class="flag-icon flag-icon-cy"></span> {{ 'register.cypriot'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.greek'| trans }}')" href="#"><span class="flag-icon flag-icon-gr"></span> {{ 'register.greek'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.british'| trans }}')" href="#"><span class="flag-icon flag-icon-gb"></span> {{ 'register.british'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.turkish'| trans }}')" href="#"><span class="flag-icon flag-icon-tr"></span> {{ 'register.turkish'| trans }}</a>
                <a class="dropdown-item flag" onclick="selectCountry(this,'{{ 'register.russian'| trans }}')" href="#"><span class="flag-icon flag-icon-ru"></span> {{ 'register.russian'| trans }}</a>
              </div>
            </div>
            <input type="text" class="form-control valuechange" name="id_number" aria-label="{{ 'register.nationalid'|trans }}" required>
         </div>
       </div>
     </div>

     <div id="signatureContainer" class="row">
       <input id="selectSignature" type="file" style="display:none" name="signature" />
       <div class="droparea"><label id="replaceWithImage" for="selectSignature"><span>{{ 'register.selectSignature'|trans|raw }}</span></label></div>
     </div>

     <div class="row mt-3">
       <div class="col">
        <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-file-pdf"></i> {{ 'register.generate_form'|trans }} </button>
      </div>
     </div>
     <input name="idType" value="{{ 'register.cypriot'| trans }}" type="hidden">
   </form>
   </div>
 </div>

   <div class="col mr-3 ml-3 border shade float-right">
     <hr class="d-md-none d-lg-none d-block">
     <h2 class="col-12 text-sm">{{ 'register.notice'|trans }}:</h2>
     <ul class="col-12" style="list-style:none">
       <li class="mb-1">* {{ 'register.mandatory'|trans }}</li>
       <li class="mb-1"><i class="fas fa-database"></i> {{ 'register.storedindb'|trans }} </li>
       <li>** {{ 'register.reasonwhyneedidnum'|trans|raw }}
     </ul>
   </div>
 </div>
</div>

<div id="printArea" class="d-none d-print-block">
  <div class="row mt-5">
    <div class="col-12 banner-wrap">
      <img class="banner" src="{{ asset('ellakcy-full.png') }}" />
    </div>
      <div class="col-12 mt-2 mb-3">
      <h1>{{ "register.title.memberapplication"|trans }}</h1>
    </div>
  </div>
  <div class="row printRow">
      <table id="#memberInfo" class="col-12" border="1">
        <thead>
          <th colspan="4"><h2 class="text-center">Member Personal Information</h2></th>
        </thead>
        <tbody>
          <tr>
            <th>{{ 'register.name'|trans }}:</th>
            <td class="applicationData"><span data-fill="name"></span></td>
            <th>{{ 'register.surname'|trans }}:</th>
            <td class="applicationData"><span data-fill="surname"></span></span></td>
          </tr>
          <tr>
            <th>{{ 'register.nationalid'|trans }}:</th>
            <td class="applicationData"><span data-fill="id_number"></span></td>
            <th>{{ 'register.issuingCountry'|trans }}:</th>
            <td class="applicationData"><span  data-fill="idType">{{ 'register.cypriot'| trans }}</span></td>
          </tr>
        </tbody>
      </table>
    </div><!-- row -->

  <div id="signatureArea" class="row printRow">
    <div class="col signature"><h4>{{ 'register.boardSignature'|trans }}:</h4><div></div></div>
    <div id="scanQr" class="col-6"></div>
    <div class="col signature"><h4>{{ 'register.memberSignature'|trans }}:</h4><div data-fill="signature"></div></div>
  </div>
</div>
{% endblock main %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('register.js','js') }}"></script>
{% endblock %}
